body {
    background-color: #c2e8c2; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#container {
    width: 80%;
    max-width: 60rem;
    margin: 5rem auto;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .logo {
        position: absolute; 
        transform: translateY(-50%); 
        width: 8.0rem;
          height: 8.0rem;
          margin-left: 0.4rem;
          margin-top: 2rem;
        
      }
#company-name{
        position: absolute; 
        margin-left: 9rem; 
        font-size: 3rem;
        margin-top: 0rem;
        background-image: linear-gradient(to right,#34C17E, #0E7443); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        font-family: 'Rhodium Libre',sans-serif;
      }
h2 {
    text-align: center;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Rhodium Libre',sans-serif;
    font-size: 2rem;

}
label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
    font-family: 'Rhodium Libre',sans-serif;
    font-size: 1.4rem;

}
input[type="text"], input[type="email"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Rhodium Libre',sans-serif;
    font-size: 1.3rem;


}
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Rhodium Libre',sans-serif;
    font-size: 1.3rem;

}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;

}

input[type="submit"]:hover {
    background-color: #45a049;
}

#top-bar {
    background-color: #ffffff;
    padding: 2.5rem;
    text-align: right; 
  }
  
  #top-bar h2 {
    color: #000000; 
    font-size: 1.8rem; 
    margin: 0 2.0rem; 
    text-align: left;
  }
  
  #top-bar a {
    color: #000000; 
    text-decoration: none;
    margin: 0 3.5rem;
    font-size: 1.8rem;
    display: inline-block; 
    background-color: rgba(45, 138, 54, 0.5); 
    border-radius: 2.0rem; 
    padding: 1.0rem 3.5rem; 
  }
  #content {
    padding: 2.0rem;
    margin-top: -4.0rem; 
    margin-left: 3.0rem; 
  }
  
  
  #company-name2 {
    position: absolute; 
    top: 1.2rem; 
    left: 11.0rem; 
    margin: 0; 
    font-size: 4.5rem;
    background-image: linear-gradient(to right,#34C17E, #0E7443); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-family: 'Rhodium Libre',sans-serif;
  }
  
  #logo2 {
    position: absolute; 
    top: 4%;
    transform: translateY(-50%);
    left: 0.6rem; 
    width: 10.0rem;
    height: 10.0rem;
  }
  html{
    font-size: 62.5%;
    
    }
    
    @media only screen and (max-width: 768px) {
     
      html {
        font-size: 55%;
      }
    }
    @media only screen and (max-width: 768px) {
     
      html {
        font-size: 45%;
      }
    }
      @media (max-width: 768px) {
          
    #logo{
        max-width: 70%; 
        max-height: 70%;
      }
      
      }
      
   
  
  